<a href="#bg"><img src="~/Icone/notificacoes.png" /> </a>&nbsp;&nbsp; <a href="#bg">Sair </a> &nbsp;&nbsp;&nbsp;<a href="#bg">Abre Chamado </a> &nbsp;&nbsp;&nbsp;@Html.ActionLink("Acompanhar", "AcompanhaChamado", "AbreChamado")

