
@{
    ViewBag.Title = "Sobre";
    Layout = "~/_SiteLayout.cshtml";
}

<nav id="menu">
    <ul id="menu">
        <li>   @Html.Action("Menu", "Default") </li>
    </ul>
</nav>

<hgroup class="title">
    <h1>@Page.Title.</h1>
</hgroup>

<article>
    <p>
        Software desenvolvido pela equipe de informática do supermercados inter.<br /><br />

        Desenvolvedor: Rafael Luiz Nunes Vieira => TranscendoSoftwares.com.br
    </p>


</article>

<aside>
    <h3>Titulo lateral</h3>
    <p>
        Informações adicionais
    </p>

</aside>