@Html.ActionLink("Inicio","Index") &nbsp;&nbsp;&nbsp;@Html.ActionLink("Sobre","Sobre") &nbsp;&nbsp;&nbsp;<a href="http://www.supermercadosinter.com.br/cardapios.php" target="_blanck">Cardápio</a>


@* Menu do Index *@